{% extends 'base.html' %}
{% block content %}
  <div class="row text-center">
    <h1>Personajes de Rick y Morty</h1>
  </div>
  <div class="row bg">
    <div class="row text-center">
      <div class="col-xs-1 bg-danger">.col-1</div>
      <div class="col-xs-1 bg-success">.col-1</div>
      <div class="col-xs-1 bg-danger">.col-1</div>
      <div class="col-xs-1 bg-success">.col-1</div>
      <div class="col-xs-1 bg-danger">.col-1</div>
      <div class="col-xs-1 bg-success">.col-1</div>
      <div class="col-xs-1 bg-danger">.col-1</div>
      <div class="col-xs-1 bg-success">.col-1</div>
      <div class="col-xs-1 bg-danger">.col-1</div>
      <div class="col-xs-1 bg-success">.col-1</div>
      <div class="col-xs-1 bg-danger">.col-1</div>
      <div class="col-xs-1 bg-success">.col-1</div>
    </div>
    <div class="row">
      {% for character in characters %}
        {% if loop.index <= 20 %}
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-md-4 col-md-offset-1">
          <a href="{{url_for('character_route.view_character_profile',id=character.id)}}" class="btn">
            <div class="media img-responsive">
              <div class="media-left media-top">
                <img src="{{character.image}}" alt="{{character.name}}" width="100 rem">
              </div>
              <div class="media-body text-left">
                <h4 class="media-heading">{{character.name}}</h4>
                <p>{{character.species}}, 
                {% if character.status == 'Alive' %}
                <span class="card-text text-success"><strong>{{character.status}}</strong></span>
                {% elif character.status == 'Dead' %}
                <span class="card-text text-danger"><strong>{{character.status}}</strong></span>
                {% else %}
                <span class="card-text text-hidden"><strong>{{character.status}}</strong></span>
                {% endif %}
                </p>
                <p class="card-text"><small>From: </small>{{character.origin}}</p>
              </div>
            </div>
          </a>
          <br>
        </div>
        {% endif%}
      {% endfor %}
    </div>
  </div>
  <div class="row text-center">
    <nav aria-label="Page-navigation">
      <ul class="pager">
        <li class="previous"><a href=""><span class="glyphicon glyphicon-chevron-left"></span> Previous</a></li>
        
        <li class="next"><a href="">Next <span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>
    </nav>
  </div>
{% endblock %}